---
layout: playground
---

<div class="post-container">

	{% for playground-post in site.categories.post %}
		<div class="post-overview post">

			{% if playground-post.type contains "miniblog" %}
				<div class="post-title">
					<a href="{{site.baseurl}}{{playground-post.url}}">{{playground-post.title}}</a>				
				</div>
			{% endif %}

			<div>
				<img src="{{site.baseurl}}/img/{{playground-post.image}}" alt="">
			</div>
			
			<div class="post-text">
				<p>{{playground-post.meta}}</p>
				<p>{{playground-post.source}}</p>
			</div>

		</div>
	{% endfor %}

</div>






