---
layout: playground
---

<div class="post-container">

	{% for playground-post in site.categories.post %}
		<div class="post-overview post">
			<div class="post-title">
				<a href="{{site.baseurl}}{{playground-post.url}}">{{playground-post.title}}</a>
			</div>
			<div>
				<img src="{{site.baseurl}}/img/{{playground-post.image}}" alt="">
			</div>
			<div class="post-text">
				<p>{{playground-post.meta}}</p>
				<p>{{playground-post.source}}</p>
			</div>
		</div>
	{% endfor %}

	{% for playground-post in site.categories.miniblog %}
		<div class="post-overview miniblog">
			<div>
				<img src="{{site.baseurl}}/img/{{playground-post.image}}" alt="">
			</div>
			<div class="post-text">
				<p>{{playground-post.meta}}</p>
			</div>
		</div>
	{% endfor %}

</div>






