
// font
@font-face {
	font-family: CiroSans Book;
	src: url('../assets/fonts/CiroSans-Book.woff') format('woff'),
		 url('../assets/fonts/CiroSans-Book.woff2') format('woff2');
}

// variables-font
$font-stack: CiroSans Book, Arial, sans-serif;
$text-size: 18px;
$text-color: #000000;
$link-color-1: #0000ff;
$link-color-2: #ff00ff;

// variables-grid
$line-height: 24px; //unit of measure_height
$width-header: 240px;

// start-content
html, body {
	font-family: $font-stack !important;
	margin: $line-height;
}

h1, p, a, strong {
	font-size: $text-size !important;
	font-weight: normal !important;
	color: $text-color;
	margin-bottom: 0 !important;
	line-height: $line-height !important;
	display: block;
	
	//grid
	//box-shadow: inset 0 0 2px #000000;

}

a {
	color: $link-color-1 !important;
	//box-shadow
	box-shadow: inset 0 0 8px #000000;
	//border-radius: calc(#{$line-height}*0.5);
}
a:hover {
	text-decoration: none !important;
	color: $link-color-2 !important;
}

sub, sup {
	color: $link-color-2;
	font-size: calc(#{$text-size}*0.6) !important;
	top: - calc(#{$text-size}*0.2) !important;
	padding: 3px;
	text-transform: uppercase;
}

header {
	width: $width-header;
	position: fixed;
	z-index: 99;
	//height: calc(100vh - #{$line-height}*2);
}

.container-article {
	margin-left: $width-header;
	width: auto;
}

.article-text {
	margin-top: $line-height;
}

.nav-sotto {
	padding-top: $line-height*4;
	width: $width-header;
	position: fixed;

	p {
		margin-top: $line-height !important;
	}

}

// navigation
.nav {
	display: block !important;
	margin-top: $line-height; 

}

.nav-top {

	a {
		color: $text-color !important;
	}
	.current  {
		color: $link-color-1 !important;

	}
}

.nav-bottom {

	a {
		color: $text-color !important;
	}
	
	.current  {
		color: $link-color-2;

	}
}

// playground-post

.post-overview {
	.post-title {
		display: grid;
	}

	.post-text {
		margin-top: $line-height;

	}

	img {
		height: calc(#{$line-height}*15);
		margin: $line-height 0;
		
	}
}

