// typeface
@font-face {
	font-family: CiroSans Book;
	src: url('../assets/fonts/CiroSans-Book.woff') format('woff'),
		 url('../assets/fonts/CiroSans-Book.woff2') format('woff2');
}

// variables-font
$font-stack: CiroSans Book, Arial, sans-serif;
$text-size: 20px;

// variables-grid
$line-height: 26px; //unit of measure_height
$width-header: 240px;

// variables-resize
$mobile: 590px;
$tablet: 1024px;

// colors
$text-color: #000000;
$link-color-1: #0000ff;
$link-color-2: #ff00ff;

// root-element
html, body {
	font-family: $font-stack !important;
	font-kerning: normal;
	word-spacing: 0.001em;

	::-webkit-scrollbar {
        display: none;
    }
}

body {
	margin: $line-height !important;

	@media only screen and (max-width: $mobile) {
		margin: $line-height $line-height*0.6 !important;
	}
}

h1, p, a, strong {
	font-size: $text-size !important;
	font-weight: normal !important;
	color: $text-color;
	margin-bottom: 0 !important;
	line-height: $line-height !important;
	display: block;
	// grid
	//box-shadow: inset 0 0 2px #000000;
}

sub, sup {
	color: $link-color-2;
	font-size: calc(#{$text-size}*0.6) !important;
	top: - calc(#{$text-size}*0.2) !important;
	padding: 3px;
	text-transform: uppercase;
}

a {
	color: $link-color-1 !important;

	&:hover {
		text-decoration: none !important;
		color: $link-color-2 !important;
		box-shadow: inset 0 0 8px #000000;
		//border-radius: calc(#{$line-height}*0.5);
	}
}

// opentype features
.case-sentitive {
	text-transform: uppercase;
	font-feature-settings: 'case' on;
	-moz-font-feature-settings: 'case'; 
	-webkit-font-feature-settings: 'case'; 
}

.standard-ligatures {
	font-variant-ligatures: common-ligatures;
	font-feature-settings: 'liga' on;
	-moz-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
}


// start-content
#page-container {
	position: relative;
	min-height: calc(100vh - #{$line-height}*2);
	min-height: calc(var(--vh, 1vh) * 100 - #{$line-height}*2);
  }

#content-wrap {

	@media only screen and (max-width: $mobile) {
		padding-bottom: $line-height*5; /* Footer height */
	}
}

header {
	width: $width-header;
	position: fixed;
	z-index: 99;
	//height: calc(100vh - #{$line-height}*2);

	@media only screen and (max-width: $mobile) {
		width: 100%;
		position: static;
	}
}

footer {
	width: $width-header;
	position: fixed;
	bottom: $line-height;

	@media only screen and (max-width: $mobile) {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
}

.container-article {
	margin-left: $width-header;
	width: auto;

	@media only screen and (max-width: $mobile) {
		margin-left: 0;
		padding-top: $line-height;
	}

	h1 {
		margin-bottom: $line-height !important;
	}
}

.article-text {
	margin-top: $line-height;

	.link-inline {
		display: inline-block;
	}
}

.nav-sotto {
	padding-top: $line-height*4;
	width: $width-header;
	position: fixed;
	
	@media only screen and (max-width: $mobile) {
		position: static;
		padding-top: 0;
	}

	p {
		margin-top: $line-height !important;
	}
}

// navigation
.nav {
	display: block !important;
	margin-top: $line-height; 
}

.nav-top {

	a {
		color: $link-color-1 !important;
	}

	.current  {
		color: $text-color !important;

		&:hover {
			box-shadow: none;
		}
	}
}

.nav-bottom {

	a {
		color: $text-color !important;
	}
	
	.current  {
		color: $link-color-2;
	}
}

// playground-post
.post-overview {
	margin-bottom: $line-height*2;

	.post-title {
		display: grid;
		margin-bottom: $line-height;
	}

	img {
		max-width: 100%;
		max-height: calc(#{$line-height}*15);
		margin: 0;
		box-shadow: 0 0 1px #000000;
		//border: 1px solid black;

		@media only screen and (max-width: $mobile) {
			width: 100%;
			height: auto;
		}
	}

	.post-text {

		p {
			display: inline;
		}
	}
}

.post-overview:last-child {
	margin-bottom: 0;
}

// centered style for images in figures
figure {
	display: table !important;
	margin: 0 $line-height*-0.5 $line-height !important;

	@media only screen and (max-width: $tablet) {
		margin-bottom: 0 !important;
	}
	@media only screen and (max-width: $mobile) {
		margin: 0 !important;
	}

	img {
		margin: 0 $line-height*0.5;
		box-shadow: 0 0 1px #000000;

		@media only screen and (max-width: $tablet) {
			margin-bottom: $line-height;
		}
		@media only screen and (max-width: $mobile) {
			margin: 0 0 $line-height 0;
		}
	}

	&.mobile-hide {

		@media only screen and (max-width: $tablet) {
			display: none !important;
		}
	}

	&.desktop-hide {
		display: none !important;

		@media only screen and (max-width: $tablet) {
			display: table !important;
		}

	}

	&.centered {

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.one {

		img {
			width: calc(100% - #{$line-height});

			@media only screen and (max-width: $mobile) {
				width: 100%;
			}
		}
	}

	&.half {

		img {
			width: calc(50% - #{$line-height});

			@media only screen and (max-width: $tablet) {
				width: calc(100% - #{$line-height});
			}
			@media only screen and (max-width: $mobile) {
				width: 100%;
			}
		}
	}

	&.third {

		img {
			width: calc(33.33% - #{$line-height});

			@media only screen and (max-width: $tablet) {
				width: calc(100% - #{$line-height});
			}
			@media only screen and (max-width: $mobile) {
				width: 100%;
			}
		}
	}

	&.fourth {

		img {
			width: calc(25% - #{$line-height});

			@media only screen and (max-width: $tablet) {
				width: calc(50% - #{$line-height});
			}
			@media only screen and (max-width: $mobile) {
				width: 100%;
			}
		}
	}

	&.sixth {

		img {
			width: calc(16.66% - #{$line-height});

			@media only screen and (max-width: $tablet) {
				width: calc(50% - #{$line-height});
			}
			@media only screen and (max-width: $mobile) {
				width: 100%;
			}
		}
	}

	figcaption {
		width: 100%;
	}
}

figure:last-child {
	margin-bottom: 0 !important;
}









