
// font
@font-face {
	font-family: "CiroSans Book";
	src: url("../assets/fonts/CiroSans-Book.otf");
}

// variables-font
$font-stack: CiroSans Book, sans-serif;
$text-size: 18px;
$text-color: #000000;
$link-color-1: #0000ff;
$link-color-2: #ff00ff;

// variables-grid
$line-height: 24px; //unit of measure_height
$width-header: 250px;

// start-content
html, body {
	font-family: $font-stack !important;
	margin: $line-height;
}

h1, p, a, strong {
	font-size: $text-size !important;
	font-weight: normal !important;
	color: $text-color;
	margin-bottom: 0 !important;
	line-height: $line-height !important;

	//grid
	//border: 1px solid black;
}

a {
	color: $link-color-1 !important;
}

a:hover {
	text-decoration: none !important;
}

header {
	width: $width-header;
	position: fixed;
	z-index: 99;
	//height: calc(100vh - #{$line-height}*2);
}
.container-article {
	margin-left: $width-header;
	width: auto;
}
.article-text {
	margin-top: $line-height; 
}

.nav-sotto {
	padding-top: $line-height*4;
	width: $width-header;
	position: fixed;

	p {
		padding-top: $line-height !important;
	}

}

// navigation
.nav {
	display: block !important;
	margin-top: $line-height; 

}

.nav-top {

	a {
		color: $text-color !important;
	}
	.current  {
		color: $link-color-1 !important;
	
	}
}

.nav-bottom {

	a {
		color: $text-color !important;
	}
	
	.current  {
		color: $link-color-2;

	}
}


